In [0]:
df1 = spark.read.csv("/FileStore/tables/data.csv",inferSchema= True)

In [0]:
df2=df1.toPandas()

In [0]:
list1=["TARGET","NAME_CONTRACT_TYPE","CODE_GENDER","FLAG_OWN_CAR","FLAG_OWN_REALTY","CNT_CHILDREN","AMT_INCOME_TOTAL","AMT_CREDIT","AMT_ANNUITY","NAME_INCOME_TYPE","NAME_EDUCATION_TYPE","NAME_FAMILY_STATUS","NAME_HOUSING_TYPE","DAYS_BIRTH","DAYS_EMPLOYED","OWN_CAR_AGE","FLAG_MOBIL","FLAG_EMP_PHONE","FLAG_WORK_PHONE","FLAG_CONT_MOBILE","FLAG_PHONE","OCCUPATION_TYPE","CNT_FAM_MEMBERS","REGION_RATING_CLIENT","REGION_RATING_CLIENT_W_CITY","REG_REGION_NOT_LIVE_REGION","REG_REGION_NOT_WORK_REGION","ORGANIZATION_TYPE","FLAG_DOCUMENT_2","FLAG_DOCUMENT_3","FLAG_DOCUMENT_4","FLAG_DOCUMENT_5","FLAG_DOCUMENT_6","FLAG_DOCUMENT_7","FLAG_DOCUMENT_8","FLAG_DOCUMENT_9","FLAG_DOCUMENT_10"]

In [0]:
df2.columns=list1
df2=spark.createDataFrame(df2)

In [0]:
df2.show()

In [0]:
df2.printSchema()

In [0]:
list1=[]
list2=[]
for i in df2.dtypes:
    if i[1]=='string':
        list1.append(i[0])
for j in list1:
    list2.append(j+"_NEW")
list2

In [0]:
from pyspark.ml.feature import StringIndexer
indexer=StringIndexer(inputCols=list1,outputCols=list2)
df_r=indexer.fit(df2).transform(df2)
df_r.toPandas()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,ORGANIZATION_TYPE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_OWN_REALTY_NEW,FLAG_OWN_CAR_NEW,REG_REGION_NOT_LIVE_REGION_NEW,NAME_FAMILY_STATUS_NEW,NAME_CONTRACT_TYPE_NEW,NAME_EDUCATION_TYPE_NEW,NAME_HOUSING_TYPE_NEW,NAME_INCOME_TYPE_NEW,CODE_GENDER_NEW
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,Working,Secondary / secondary special,Single / not married,House / apartment,-9461,-637,1,1,0,1,1,1,2,2,0,0,Business Entity Type 3,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,State servant,Higher education,Married,House / apartment,-16765,-1188,1,1,0,1,1,2,1,1,0,0,School,0,1,0,0,0,0,0,0,0,0,0,1.0,0.0,7.0,0.0,0.0,1.0,0.0,3.0,0.0
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,Working,Secondary / secondary special,Single / not married,House / apartment,-19046,-225,1,1,1,1,1,1,2,2,0,0,Government,0,0,0,0,0,0,0,0,0,0,0,0.0,1.0,6.0,1.0,1.0,0.0,0.0,0.0,1.0
3,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,Working,Secondary / secondary special,Civil marriage,House / apartment,-19005,-3039,1,1,0,1,0,2,2,2,0,0,Business Entity Type 3,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
4,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,Working,Secondary / secondary special,Single / not married,House / apartment,-19932,-3038,1,1,0,1,0,1,2,2,0,0,Religion,0,0,0,0,0,0,1,0,0,0,0,0.0,0.0,53.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307492,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,Working,Secondary / secondary special,Separated,With parents,-9327,-236,1,1,0,1,0,1,1,1,0,0,Services,0,0,0,0,0,0,1,0,0,0,0,1.0,0.0,28.0,3.0,0.0,0.0,1.0,0.0,1.0
307493,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,Pensioner,Secondary / secondary special,Widow,House / apartment,-20775,365243,1,0,0,1,1,1,2,2,0,0,XNA,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,2.0,0.0
307494,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,Working,Higher education,Separated,House / apartment,-14966,-7921,1,1,0,1,0,1,3,3,0,0,School,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,7.0,3.0,0.0,1.0,0.0,0.0,0.0
307495,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-11961,-4786,1,1,0,1,0,2,2,2,0,0,Business Entity Type 1,0,1,0,0,0,0,0,0,0,0,0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,1.0,0.0
307496,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,Commercial associate,Higher education,Married,House / apartment,-16856,-1262,1,1,1,1,1,2,1,1,0,0,Business Entity Type 3,0,1,0,0,0,0,0,0,0,0,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [0]:
df_r.columns

In [0]:
list3=['NAME_CONTRACT_TYPE_NEW','FLAG_OWN_CAR_NEW','FLAG_OWN_REALTY_NEW','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','NAME_CONTRACT_TYPE_NEW','NAME_EDUCATION_TYPE_NEW','NAME_HOUSING_TYPE_NEW','DAYS_EMPLOYED','FLAG_WORK_PHONE','FLAG_CONT_MOBILE','OCCUPATION_TYPE',"REGION_RATING_CLIENT",'REGION_RATING_CLIENT_W_CITY','REG_REGION_NOT_LIVE_REGION_NEW','REG_REGION_NOT_WORK_REGION']

from  pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=list3,outputCol="Independent Features")
output=featureassembler.transform(df_r)

In [0]:
output.select('Independent Features').show()

In [0]:
output.show()

In [0]:
final_data=output.select("Independent Features","TARGET")

In [0]:
final_data.show()

In [0]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import pipeline

In [0]:
#from pyspark.ml.regression import LinearRegression
#train_data,test_data=final_data.randomSplit([0.75,0.25])
#regressor=LinearRegression(featuresCol='Independent Features',labelCol='TARGET')
#regressor=regressor.fit(train_data)

In [0]:
#regressor.coefficients

In [0]:
#regressor.intercept

In [0]:
#######predictions
#pred_results=regressor.evaluate(test_data)

In [0]:
#pred_results.predictions.show()

In [0]:
from pyspark.ml.feature import VectorAssembler, StandardScaler
standardScaler = StandardScaler(inputCol="Independent Features", outputCol="Independent Features1")
final_data=standardScaler.fit(final_data).transform(final_data)

In [0]:
final_data.show()

In [0]:
train_data,test_data=final_data.randomSplit([0.90,0.10])

In [0]:
lr = LogisticRegression(featuresCol='Independent Features1',labelCol="TARGET", predictionCol='Prediction',maxIter=10)

In [0]:
lr_model = lr.fit(train_data)

In [0]:
predictions = lr_model.transform(test_data)

In [0]:
result = predictions.select("TARGET","Prediction")

In [0]:
result.show()

In [0]:
TP = result.filter(result['Prediction'] == 1).filter(result['TARGET'] == 1).count()
FN = result.filter(result['Prediction'] == 0).filter(result['TARGET'] == 1).count()
TN = result.filter(result['Prediction'] == 0).filter(result['TARGET'] == 0).count()
FP = result.filter(result['Prediction'] == 1).filter(result['TARGET'] == 0).count()

In [0]:
TP

In [0]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator()
 
# Calculate the accracy and print its value
accuracy = result.filter(result.TARGET == result.Prediction).count()/float(result.count())
print("Accuracy = ", accuracy)

In [0]:
import pandas as pd
def categorical_features(df2):
    categorical_cols = df2.select_dtypes(include=["object"]).columns.tolist()
    types=df2[categorical_cols].dtypes
    uniques = df2[categorical_cols].nunique()
    categorical_tbl = pd.concat([uniques,types],axis=1).sort_values(0,ascending=False).rename(columns = {0:'Unique Values',1:'Data Types'})
    print("The dataset contains {} categorical values".format(df2[categorical_cols].shape[1]))
    
    return categorical_tbl

In [0]:
import numpy as np
def numerical_features(df2):
    numerical_cols = df2.select_dtypes(include=np.number).columns.tolist()
    numerical_tbl = pd.DataFrame(df2[numerical_cols].dtypes).rename(columns = {0:'Data Types'})
    print("The dataset contains {} numerical values.(included target value)".format(df2[numerical_cols].shape[1]))
    
    return numerical_tbl

In [0]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import OneHotEncoder
CATE_FEATURES = ["NAME_CONTRACT_TYPE"]
stages = [] # stages in our Pipeline
for categoricalCol in CATE_FEATURES:
    stringIndexer = StringIndexer(inputCol=categoricalCol, outputCol=categoricalCol + "Index")
    encoder = OneHotEncoder(inputCols=[stringIndexer.getOutputCol()],
                                     outputCols=[categoricalCol + "classVec"])
    stages += [stringIndexer, encoder]

In [0]:
label_stringIdx =  StringIndexer(inputCol="label", outputCol="newlabel")
stages += [label_stringIdx]

In [0]:
assemblerInputs = [c + "classVec" for c in CATE_FEATURES] + CONTI_FEATURES

In [0]:
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages += [assembler]

In [0]:
# Create a Pipeline.
pipeline = Pipeline(stages=stages)
pipelineModel = pipeline.fit(df2)
model = pipelineModel.transform(df2)

In [0]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Pipeline

# Create feature vectors. Ignore arr_delay and it's derivate, is_late
feature_assembler = VectorAssembler(
    inputCols=[x for x in training.columns if x not in ["is_late","arrdelay"]],
    outputCol="features")

reg = LogisticRegression().setParams(
    maxIter = 100,
    labelCol="is_late",
    predictionCol="prediction")

model = Pipeline(stages=[feature_assembler, reg]).fit(training)

In [0]:
predicted = model.transform(test)

In [0]:
predicted.take(1)

In [0]:
predicted = predicted.withColumn("is_late",is_late(predicted.arrdelay))
predicted.crosstab("is_late","prediction").show()